<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required ngModel name= "firstname" minlength="3" maxlength="20" #firstname = "ngModel" type="text" class="form-control form-control-user" id="firstname" placeholder="First Name" >
                       <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
                         <div *ngIf="firstname.errors.required"> First name is requird</div>
                         <div *ngIf="firstname.errors.minlength">Your first name must be more than 3 char</div>
                    
                       </div>
                  </div>
                  <div class="col-sm-6">
                    <input required ngModel name="lastname" minlength="3" maxlength="30" #lastname = "ngModel" type="text" class="form-control form-control-user" id="lastname" placeholder="Last Name" >
                    <div class="alert alert-danger" *ngIf="lastname.touched &&!lastname.valid">
                         <div *ngIf="lastname.errors.required"> last name is requird</div>
                         <div *ngIf="lastname.errors.minlength">Your last name must be more than 3 char</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input required ngModel name="email" minlength="10" pattern="'email'+@gmail.com" #email = "ngModel" type="email" class="form-control form-control-user" id="email" placeholder="Email Address" >
                  <div class="alert alert-danger" *ngIf="email.touched &&!email.valid">
                         <div *ngIf="email.errors.required">email is requird</div>
                         <div *ngIf="email.errors.minlength">your email must be more than 3 char</div>
                         <div *ngIf="email.errors.pattern">missing '@' or 'gmail.com'</div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required ngModel name="contact" minlength="10" maxlength="10" #contact = "ngModel" type="text" class="form-control form-control-user" id="contact " placeholder="Contact number" >
                    <div class="alert alert-danger" *ngIf="contact.touched && !contact.valid">
                         <div *ngIf="contact.errors.required"> contact is requird</div>
                         <div *ngIf="contact.errors.minlength">contact must have 10 numbers</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input required ngModel name="username" minlength="5" #username = "ngModel" type="text" class="form-control form-control-user" id="username" placeholder="User Name" >
                    <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                         <div *ngIf="username.errors.required"> username is requird</div>
                         <div *ngIf="username.errors.minlength">Your username must be more than 3 char</div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input required ngModel name="password" minlength="8" #password = "ngModel" type="password" class="form-control form-control-user" id="password" placeholder="Password" >
                    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                         <div *ngIf="password.errors.required"> Password is requird</div>
                         <div *ngIf="password.errors.minlength">Your password must be more than 8 charecters long</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input required ngModel name="confirmpassword" #confirmpassword = "ngModel" type="password" class="form-control form-control-user" id="confirmpassword" placeholder="Confirm password">
                    <div class="alert alert-danger" *ngIf="confirmpassword.touched && !confirmpassword.valid">
                      <div *ngIf="confirmpassword != password">Password dont match</div>
                    </div>
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>