
<!-- Custom fonts for this template-->

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Register as a Buyer</h5>
          <p class="card-text">Create and account here to buy fresh fruits and veges from our trusted farmers with quality goods and reliable servies</p>
          <a routerLink="/buyerReg" routerLinkActive="router-link-active" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Register as a Seller</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a routerLink="/sellerReg" routerLinkActive="router-link-active"  class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="https://github.com/nyambeni/Online-fruits-And-veg/blob/8faa8e8d3f0eb93e44c49e249236cccc07f9fb28/fruits-And-veg/src/app/1537315.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">log in</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>