<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
      
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div><div class="col mb-4">
    <div class="card">
      <img src="https://image.shutterstock.com/image-photo/isolated-apples-whole-red-pink-260nw-736739470.jpg" class="card-img-left" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apples</h5>
        
      </div>
    </div>
  </div>
</div>