
<body class="text-center">
  <img src="assets/pictures/imagees.jpg">
 
<form class="form-signin">

  
  <label for="inputEmail" class="sr-only">Email address</label>
  <br>
  <input ngModel name="email" #email = "ngModel" type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
  <div *ngIf="!email.valid && email.touched">
     <div *ngIf="email.errors.required">email is required</div>
     
  </div>
 
  <label for="inputPassword" class="sr-only">Password</label>
  <br>
  <input ngModel name="password" #password = "ngModel" type="password" id="password" class="form-control" placeholder="Password" required>
    <div *ngIf="password.touched && !password.valid">Invalid password</div>
  <div class="checkbox mb-3">

    <label>
      <input type="checkbox" value="forgot password"> forgot password
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">LOG IN</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020-2025</p>
 

</form>
</body>


